services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - /mnt/sbox-01/audiobookshelf/audiobooks:/audiobooks
      - /mnt/sbox-01/audiobookshelf/podcasts:/podcasts
      - /mnt/sbox-01/audiobookshelf/metadata:/metadata
      - ./config:/config
    restart: unless-stopped
