services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - ./config:/config
      - /mnt/at-at/jellyfin/shows:/data/tvshows
      - /mnt/at-at/jellyfin/movies:/data/movies
    ports:
      - 8096:8096
    restart: unless-stopped
