grafana.docker-01.rz-mgns.de {
        reverse_proxy 192.168.122.102:3004
}

openspeedtest.docker-01.rz-mgns.de {
        reverse_proxy 192.168.122.102:3005
}

uptime-kuma.docker-01.rz-mgns.de {
        reverse_proxy 192.168.122.102:3007
}